@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Fira+Sans:wght@300&family=Inconsolata:wght@400&family=Space+Mono&display=swap');

/* To affect every html element on the page */
/* * { 
    /* font-family: 'Fira Sans', sans-serif;  
} */

*::selection {
color: #fff;
background-color: royalblue;
}


html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inconsolata', monospace;
    color: #1D1D1D
}

/* Heading styles */

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

em {
  margin: 0px 0px 50px;
}

.control-label {
    font-weight: inherit;
}

/* Welcome page styling */

.welcome-title {
    font-size: 10vw;
}

#shiny-tab-home {
    margin: 1vw;
    /*padding: 4.5vw 12vw 5vw 5vw;*/
    padding-top: 4vw;
    padding-left: 6vw;
    padding-right: 8vw;
}

.title-fluid-row {
    margin: 1vw;
}

/* Toggle nav bar button style */
.skin-black .main-header .navbar {
    background-color: #1D1D1D;
}

.skin-black .main-header .navbar>.sidebar-toggle {
    border: none;
    color: white;
}

.skin-black .main-header .navbar>.sidebar-toggle:hover {
    color: white;
    background-color: royalblue;
}

/* Styling top navbar buttons */
.navbar-custom-menu li {
  border: none;
  padding: 5px 0px 0px;
}
div.navbar-custom-menu{
  padding-right: 8px;
  padding-top: 3px;
}


/* Main header logo style */

.skin-black .main-header>.logo {
    font-family: 'Space Mono', monospace;
    color: white;
    background-color: #1D1D1D;
    border: none;
}

.skin-black .main-header>.logo:hover {
    background-color: royalblue;
}


/* Sidebar style */

#sidebarCollapsed {
    background-color: #1D1D1D;
}

main-sidebar .user-panel,
.sidebar-menu,
.sidebar-menu>li.header {
    white-space: normal;
    border-radius: 10px;
}

.skin-black .sidebar-menu>li.active>a,
.skin-black .sidebar-menu>li:hover>a {
    color: #fff;
    background: royalblue;
    border-left: 1px solid white;
}

/* Well panel style */
.well {
  margin-top: 20px;
    background-color: white;
    border-radius: 5px;
}

.well-stop-words {
    border: none;
}

/* Nav tabs style */
.nav-tabs-custom {
    border: 0.5px solid royalblue;
    border-radius: 5px;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: royalblue;
    background: royalblue;
}

.nav-tabs-custom>.tab-content{
    padding: 30px;
}

/* Box div styles */
.box {
    border-radius: 5px;
}

.box-body {
    padding: 30px;
}

.box-header {
    padding: 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: -1.7px;
    font-size: 16px;
}

.box.box-solid>.box-header>.box-tools .btn {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-color: transparent;

}

.box.box-solid>.box-header .btn:hover {
    background-color: white;
    color: #1D1D1D;
}

/* Different colors for diff types of boxes */
.box.box-solid.box-primary {
    border: 1px solid #1D1D1D;
}

.box.box-solid.box-primary>.box-header {
    background: #1D1D1D;
    background-color: #1D1D1D;
}

.box.box-solid.box-success {
    border: 1px solid royalblue;
}

.box-title {
    color: white
}

.box.box-solid.box-success>.box-header {
    background: royalblue;
    background-color: royalblue;
}

/* tabsetPanel styling */
.tab-content {
    padding: 30px;
}

/* Notification styling */
.shiny-notification-message {
    color: white;
    background-color: rgb(138, 185, 45);
    border: none;
    box-shadow: 10px 5px 5px grey;
}

/* Background */

.content-wrapper {
    background-color: white;
    border-radius: 5px;
}


/* INPUT STYLES */


/* File input box form placeholder thing */
.form-control {
    height: 38px;
    background-color: white;
}

.form-group{
  margin-top: 15px;
}

form.well{
  margin-top: 0px;
}

/* File input progress bar */
.progress-bar{
    background-color: royalblue;
}

.progress{
  margin-bottom: 0px;
}

/* Icons in sidebar */
i.fas{
  padding-right: 5px;
}

/* Icons in top header */
i.fas.fa-rotate-right{
  padding-right: 0px;
}
i.fas.fa-door-open{
  padding-right: 0px;
}

div#shiny-notification-panel{
  position:fixed;
  top: calc(1%);
  right: calc(0%);
}

/* input container */
.shiny-input-container:not(.shiny-input-container-inline){
  width: 100%;
}


.hr-blank {
  border: none;
}


/* datatables */

div.datatables{
  margin: 5px 15px 5px 15px;
}
.dataTables_wrapper{
  margin-right: 20px;
}

/*  
.row{
  margin-bottom: 15px;
}
 */
 
 /*  
Plot styles - height adjustedtf-idf plot
 */
#reporting-tf_idf_plotly{
  height: 600px;
}
 
